{% extends "layout.html" %}

{% block title %}
    Set up a regular search
{% endblock %}

{% block main %}
  <form action="/results" method="post">
        <div class="form-group row justify-content-center">
            <div>
                <input autocomplete="off" autofocus class="form-control" name="minBedrooms" placeholder="Min Bedrooms" type="text">
            </div>
            <div>
              <input autocomplete="off" autofocus class="form-control" name="maxBedrooms" placeholder="Max Bedrooms" type="text">
            </div>
            <div>
              <input autocomplete="off" autofocus class="form-control" name="minPrice" placeholder="Min Price" type="text">
            </div>
            <div>
              <input autocomplete="off" autofocus class="form-control" name="maxPrice" placeholder="Max Price" type="text">
            </div>
            <div>
              <select class="form-control" name="frequency">
                <option>Hourly</option>
                <option>Daily</option>
                <option>Weekly</option>
              </select>
            </div>
            <button class="btn btn-primary" type="submit">Schedule</button>
        </div>
        
    </form>
{% endblock %}