{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
  <form action="/loading" method="post">
        <div class="form-group row justify-content-center">
            <div>
                <input autocomplete="off" autofocus class="form-control" name="minBedrooms" placeholder="Min Bedrooms" type="text">
            </div>
            <div>
              <input autocomplete="off" autofocus class="form-control" name="maxBedrooms" placeholder="Max Bedrooms" type="text">
            </div>
            <div>
              <input autocomplete="off" autofocus class="form-control" name="minPrice" placeholder="Min Price" type="text">
            </div>
            <div>
              <input autocomplete="off" autofocus class="form-control" name="maxPrice" placeholder="Max Price" type="text">
            </div>
            <br>
            <button class="btn btn-primary justify-content-center" type="submit"  >Search</button>
            
        </div>
        
    </form>
{% endblock %}